.project {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;

	@extend .sub-element-spacing;

	& > .column {
		width: 100%;
	}

	.github a {
		text-decoration: none;
		color: $secondary;
		@extend .secondary-font;
	}
}
