.job {
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      color: $primary;
    }
  }

  .employer {
    @extend .secondary-font;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;

    @extend .sub-element-spacing;

    li {
      @extend .bullet-style;
    }
  }

  &:not(:first-child) {
    @extend .sub-element-spacing;
  }
}
