.skill {
  display: flex;

  width: 100%;

  &.platforms {
    align-items: center;

    .filler {
      flex-grow: 1;
    }
  }

  .title {
    min-width: 1in;
    padding: 5px 0;

    &::after {
      content: ':';
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    li {
      padding: 3px;
      margin: 2px;
      border-radius: 5px;

      list-style: none;

      &.proficient {
        color: $secondary;
        background-color: $primary;
        border: 1px solid $primary;
      }

      &.intermediate {
        color: $primary;
        border: 1px solid $primary;
      }
    }
  }

  .indicators {
    display: flex;

    .indicator {
      padding: 0 5px;

      &::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;

        border: 1px solid $primary;
        border-radius: 10px;
        margin-right: 5px;
      }
    }

    .proficient::before {
      background-color: $primary
    }
  }
}
