@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

$primary: #0075FA;
$secondary: #F8F8F8;

body {
  margin: 0;

  font-size: 0.15in;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: justify;
}

.date {
  display: flex;

  .from::after {
    content: '-';
    margin: 0 0.02in;
  }
}

.secondary-font {
  font-size: 0.13in;
  font-style: italic;
}

.sub-element-spacing {
  margin-top: 0.05in;
}

.bullet-style {
  display: flex;
  align-items: flex-start;

  &:not(:first-child) {
    margin-top: 0.05in;
  }

  &::before {
    content: '\2022';

    margin-right: 0.1in;

    color: $primary;
    font-size: 0.2in;
  }
}

@import '../components/Resume/style.scss';
@import '../components/Contact/style.scss';
@import '../components/Education/style.scss';
@import '../components/Skills/style.scss';
@import '../components/Experience/style.scss';
@import '../components/Certificates/style.scss';
@import '../components/Interests/style.scss';
@import '../components/AboutMe/style.scss';
@import '../components/Profile/style.scss';
@import '../components/Awards/style.scss';

@import './print-style.scss';

