.award {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;

  &:not(:first-child) {
    @extend .sub-element-spacing;
  }

  .title {
    color: $primary;
  }

  .governing-body {
    @extend .secondary-font;
  }
}
